<!DOCTYPE HTML>
<html lang="{{language}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Copyright 2019 all rights reserved by Floatplane Dev Pty. Ltd."/>
    <meta name="built-by" content="Jan Werkhoven <jw@floatplane.dev>"/>
    <meta name="built-by" content="Richard Verheyen <rv@floatplane.dev>"/>
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="{{themeColour}}">
    <meta name="google-site-verification" content="{{googleSiteVerification}}"/>
    {% block meta %}{% endblock %}
    <script src="/assets/js/vendor.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css">
    {# {% include "partials/favicons.njk" %} #}
  </head>

  <body id="{% block id %}{% endblock %}">
    {# {% include "partials/menu.njk" %} #}
    <main>
      {% block main %}{% endblock %}
    </main>
    {# {% include "partials/footer.njk" %} #}
    {% include "partials/outdated-browsers.njk" %}
  </body>
</html>