{% extends "layout.html.njk" %}

{% block meta %}
  <title>Floatplane - Is it a boat? Not quite!</title>
  <meta name="description" content="We write code for a living, engineer flying boats for fun.">
{% endblock %}

{% block id %}homepage{% endblock %}

{% block main %}

  <section id="hero">
    <div>
      <code>We write code for a living, engineer flying boats for fun.</code>
      <code>Jan - jw@floatplane.dev</code>
      <code>Richard - rv@floatplane.dev</code>
    </div>
  </section>

{% endblock %}