{% extends "layout.html.njk" %}

{% block meta %}
  <title>Floatplane - Is it a boat? Not quite!</title>
  <meta name="description" content="We write code for a living, engineer flying boats for fun.">
{% endblock %}

{% block id %}homepage{% endblock %}

{% block main %}

  <section id="hero">
    <div>
      <code>Floatplane Dev</code>
      <code>We write code for a living,</code>
      <code>engineer flying boats for fun.</code>
      <code>Richard -
        <a href="mailto:rv@floatplane.dev" target="_blank" rel="noreferrer nofollow">rv@floatplane.dev</a>
      </code>
      <code>Jan -
        <a href="mailto:jw@floatplane.dev" target="_blank" rel="noreferrer nofollow">jw@floatplane.dev</a>
      </code>
      <code>Madeleine -
        <a href="mailto:mr@floatplane.dev" target="_blank" rel="noreferrer nofollow">mr@floatplane.dev</a>
      </code>
      <code>Shuwen -
        <a href="mailto:sw@floatplane.dev" target="_blank" rel="noreferrer nofollow">sw@floatplane.dev</a>
      </code>
    </div>
  </section>

{% endblock %}
